// Global Style
@use 'global';

// Components
@use 'navbar';
@use 'footer';
@use 'preloader';
@use 'pjax';

// Home
@use 'home/_welcome';
@use 'home/_banner';
@use 'home/_consultation';

// Booking
@use 'booking/_booking-form';
@use 'booking/_calendar';
@use 'toast';