@use "../colors";

.consultation {
    &-card {
        border-radius: 3rem;
        overflow: hidden;

        &-text-box {
            background-color: colors.$black;
            padding: 1.2rem 2rem;

            h6 {
                position: relative;
                color: colors.$background;
                font-weight: 500;
                letter-spacing: 1px;
                font-size: 16px;

                &::after {
                    content: "";
                    display: block;
                    background-color: colors.$green;
                    width: 70px;
                    height: 3px;
                    border-radius: 1rem;
                    margin-top: 10px;
                    -webkit-box-shadow: 0px 0px 20px 1px colors.$green;
                    -moz-box-shadow: 0px 0px 20px 1px colors.$green;
                    box-shadow: 0px 0px 20px 1px colors.$green;
                }
            }

            span {
                color: colors.$background;
                font-size: 13px;
                font-weight: 300;
                text-align: justify;
            }
        }
    }
}
