@use "../colors";

.welcome {
    height: 100vh;

    .welcome-content {
        padding-left: 2rem;

        h1 {
            font-family: "Encode Sans SC", serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings: "wdth" 100;
            font-size: clamp(2rem, 10vw, 4rem);
            margin-bottom: 1rem;

            &::after {
                content: "";
                display: block;
                background-color: colors.$pink;
                width: 100%;
                height: 5px;
                border-radius: 1rem;
                margin-top: 10px;
                -webkit-box-shadow: 0px 0px 20px 1px colors.$pink;
                -moz-box-shadow: 0px 0px 20px 1px colors.$pink;
                box-shadow: 0px 0px 20px 1px colors.$pink;
            }
        }

        h6 {
            font-size: 1.5em;
            font-size: clamp(1rem, 3vw, 1.2rem);
            font-weight: 300;
            letter-spacing: 1px;
            line-height: 1.8rem;
        }
    }

    .welcome-image-box {
        display: flex;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
