<div class="container-fluid py-5 text-center banner">
    <div class="row">
        <div
            class="col-12 d-flex flex-column align-items-center justify-content-center"
        >
            <h2>Queres saber mais de mim?</h2>
            <span>
                Visita a minha pagina onde eu possa te explicar melhor de aquilo
                que faço e aquilo que consigo. Claro que eu consigo tudo! Porque
                sou uma super mulher.
            </span>
            <a class="button" href=""> Ler mais sobre mim </a>
        </div>
    </div>
</div>
