<div class="container consultation my-5">
    <div class="row">
        <div class="col-12 text-center mb-5">
            <h5>Efetuo seguinte consultas</h5>
            <span>As consultas server para muito mais do que tu pensas</span>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="consultation-card">
                <div class="consultation-card-image-box">
                    <img
                        class="mw-100"
                        src="{{ 'assets/images/home/banner.jpg'|theme }}"
                        alt=""
                    />
                </div>
                <div class="consultation-card-text-box">
                    <h6>Consilta saude adulto</h6>
                    <span>
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Ex iste, officia voluptate quam, velit cupiditate
                        porro architecto tempora, modi repellendus optio
                        accusantium. Eligendi maxime voluptatibus praesentium
                        sed enim non reiciendis.
                    </span>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="consultation-card">
                <div class="consultation-card-image-box">
                    <img
                        class="mw-100"
                        src="{{ 'assets/images/home/banner.jpg'|theme }}"
                        alt=""
                    />
                </div>
                <div class="consultation-card-text-box">
                    <h6>Consilta saude adulto</h6>
                    <span>
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Ex iste, officia voluptate quam, velit cupiditate
                        porro architecto tempora, modi repellendus optio
                        accusantium. Eligendi maxime voluptatibus praesentium
                        sed enim non reiciendis.
                    </span>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="consultation-card">
                <div class="consultation-card-image-box">
                    <img
                        class="mw-100"
                        src="{{ 'assets/images/home/banner.jpg'|theme }}"
                        alt=""
                    />
                </div>
                <div class="consultation-card-text-box">
                    <h6>Consilta saude adulto</h6>
                    <span>
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Ex iste, officia voluptate quam, velit cupiditate
                        porro architecto tempora, modi repellendus optio
                        accusantium. Eligendi maxime voluptatibus praesentium
                        sed enim non reiciendis.
                    </span>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="consultation-card">
                <div class="consultation-card-image-box">
                    <img
                        class="mw-100"
                        src="{{ 'assets/images/home/banner.jpg'|theme }}"
                        alt=""
                    />
                </div>
                <div class="consultation-card-text-box">
                    <h6>Consilta saude adulto</h6>
                    <span>
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Ex iste, officia voluptate quam, velit cupiditate
                        porro architecto tempora, modi repellendus optio
                        accusantium. Eligendi maxime voluptatibus praesentium
                        sed enim non reiciendis.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
