{% if consultationSection %}
<div class="container consultation my-5">
    <div class="row">
        <div class="col-12 text-center mb-5">
            {% if consultationSection.title %}
                <h5>{{ consultationSection.title }}</h5>
            {% else %}
                <h5>Efetuo seguinte consultas</h5>
            {% endif %}
            {% if consultationSection.subtitle %}
                <span>{{ consultationSection.subtitle }}</span>
            {% else %}
                <span>As consultas server para muito mais do que tu pensas</span>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% if consultationTypes and consultationTypes.count > 0 %}
            {% for consultationType in consultationTypes %}
                <div class="col-3">
                    <div class="consultation-card">
                        <div class="consultation-card-text-box">
                            {% if consultationType.name %}
                                <h6>{{ consultationType.name }}</h6>
                            {% endif %}
                            {% if consultationType.features_array and consultationType.features_array|length > 0 %}
                                <span>
                                    {% for feature in consultationType.features_array %}
                                        {{ feature }}{% if not loop.last %}<br>{% endif %}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endif %}
