<div class="container-fluid px-o welcome">
    <div class="row h-100">
        <div
            class="col-6 d-flex flex-column justify-content-center align-items-baseline welcome-content"
        >
            <h1>Dr. Lazanovska</h1>
            <h6>
                Um médico de família que se esforça para fornecer cuidados
                abrangentes e atenciosos abordagem para sua saúde.
            </h6>
        </div>
        <div class="col-6 pe-0 welcome-image-box h-100">
            <img src="{{ 'assets/images/home/banner.jpg'|theme }}" alt="" />
        </div>
    </div>
</div>
